* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --xs: 0.2rem;
  --sm: 0.5rem;
  --md: 1rem;
  --lg: 2rem;
  --xl: 3rem;
  --dark: #303030;
  --white: rgb(206, 206, 206);
  --green: #86bd24;
  --shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
}
html {
  scroll-behavior: smooth;
  moz-user-select: none; /* Firefox */
  -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
  -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
  user-select: none; /* Propriété standard */
  font-family: "Arial Narrow", Arial, sans-serif;
}
body {
  background-color: #303030;
  color: rgb(206, 206, 206);
}
::-webkit-scrollbar {
  display: none;
}
.container {
  display: grid;
  gap: var(--lg);
  grid-template-columns: 1fr;
  grid-template-areas:
    "nav"
    "main"
    "main"
    "footer";
  padding: var(--sm);
}
h1,
h3 {
  color: var(--green);
}
/* nav */
nav {
  grid-area: "nav";
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
nav div {
  margin: auto auto;
  text-transform: capitalize;
}
/* main */
main {
  margin: var(--md);
  grid-area: "main";
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--md);
}
/* form solid */
.form {
  display: grid;
  grid-template-columns: 1fr;
  width: 600px;
  gap: var(--lg);
  margin: 0 auto;
  box-shadow: var(--shadow);
  padding: var(--lg);
}

.form-info,
.form-hour {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--sm);
}
.form-date {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--lg);
}
/* inputs */
input,
select {
  padding: var(--md) 0;
  background: transparent;
  border: none;
  border-bottom: 2px solid var(--white);
  outline: none;
  color: var(--white);
  width: 100%;
}
input::placeholder {
  color: var(--white);
  text-transform: uppercase;
  transition: 0.5s;
}
input:focus::placeholder {
  transform: translateY(-100%);
  color: var(--green);
}
input:focus {
  border-bottom: 2px solid var(--green);
}
input[type="date"] {
  text-transform: uppercase;
}
select {
  text-transform: uppercase;
}
select:focus {
  color: var(--green);
}
select option {
  background: var(--dark);
}

/* dynamic */
.dynamic {
  display: grid;
  grid-template-columns: 1fr;
  width: 600px;
  gap: var(--lg);
  margin: 0 auto;
  box-shadow: var(--shadow);
  padding: var(--lg);
}
/* ▲ ▼ */
h2 span {
  float: right;
  cursor: pointer;
  transition: 0.5s;
}
h2 span:hover {
  color: var(--green);
}
.code {
  border: 2px solid var(--green);
  padding: var(--sm) var(--sm);
  margin: var(--sm) 0;
}

.options {
  padding: var(--md);
  margin: var(--sm) 0;
  display: grid;
  grid-template-columns: 0.2fr 1fr;
}
.span-elem {
  color: var(--green);
}
label {
  display: none;
}

input[type="radio"] {
  display: block;
  height: 20px;
  outline: none;
  padding: var(--sm) 0;
  transition: 0.5s;
}
input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  height: 15px;
  width: 15px;
  outline: none;
  border: 0;
  margin: 0 15px 0 0;
  cursor: pointer;
  border: 2px solid var(--white);
  display: grid;
  align-items: center;
}
input[type="radio"]:checked {
  background: var(--green);
}

li {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  padding: var(--xs) 0;
}
/* footer */
footer {
  grid-area: "footer";
  display: flex;
  justify-content: space-around;
}
a button {
  color: var(--green);
  border: 2px solid var(--green);
  padding: var(--md) var(--lg);
  background: transparent;
  transition: 0.5s;
  text-transform: uppercase;
}
a button:hover {
  background: var(--green);
  color: var(--dark);
  cursor: pointer;
}
#print-pdf {
  color: var(--white);
  border: 2px solid var(--white);
  padding: var(--md) var(--lg);
  background: transparent;
  transition: 0.5s;
  text-transform: uppercase;
  cursor: pointer;
}
#print-pdf:hover {
  background: var(--white);
  color: var(--dark);
}
/* PAGE SUITE */
.container-suite {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: var(--md);
}

.signature {
  display: grid;
  width: 600px;
  margin: 0 auto;
  grid-template-columns: 1fr;
  grid-template-rows: 0.4fr 0.4fr 1fr;
  box-shadow: var(--shadow);
  padding: var(--lg);
  height: 350px;
}
.signature div {
  text-align: center;
  text-transform: uppercase;
  padding: var(--sm);
}
.signature-bloc {
  display: grid;
  grid-template-rows: repeat(2, 0.2fr);
}
.signature-bloc input {
  margin: 0 auto;
}
.signature input {
  width: 400px;
}
.signature span {
  color: var(--green);
}
.signature-stagiaire {
  border: 2px solid var(--white);
}
